/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}
.break-me {
    word-wrap: break-word;
    overflow-wrap: break-word;
}
