<md-card>
<h3>
  bitcore-lib
</h3>
<p class="break-me">issue address = {{address}}</p>
<p class="break-me">issue key = {{key}}</p>
<p class="break-me">revoke address = {{address}}</p>
<p class="break-me">revoke key = {{revokeKey}}</p>
<p>
    random = {{ran}}
</p>
<p>
    BIP32 12-word seed = {{seed}}
    <br/>
    localstorage seed = {{localSeed}}
</p>
<h3>certificateAdminJson</h3>
<button md-raised-button (click)="ckDownload()"><md-icon>link</md-icon> Download CertificateAdminFile</button>
<pre>{{certificateAdminJson|json}}</pre>
</md-card>
